<!DOCTYPE html>
<html lang="en">

<head>
    <!-- General Settings -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="{global.baseUrl}">

    <!-- Meta Tags -->
    <title>{head.title} | {global.appName}</title>
    <meta name="description" content="{head.description}">

    <!-- Static Assets -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="public/app.css">
    <script src="public/app.js" defer></script>
</head>

<body class="{body.class}">

    <!-- Page Wrapper -->
    <div class="wrapper">

        <div class="header">
            <!-- Logo -->
            <a class="logo" href="/"></a>
            <!-- Nav -->
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li class="loggedOut"><a href="/">Sign In</a></li>
                <li class="loggedOut"><a href="/">Sign Up</a></li>
                <li class="loggedIn"><a href="/">Dashboard</a></li>
                <li class="loggedIn"><a href="/">My Account</a></li>
                <li class="loggedIn"><a href="/">Sign Out</a></li>
            </ul>
        </div>

        <!-- Page-Specific Content -->
        <div class="content">

